{{!-- {{#if logged_in}} --}}
<div class="exercises">
    <h2 class="browse-exercises">BROWSE EXERCISES</h2>

    <section class="exercise-data container">
      <div class="chest-section row">
        <div class="chest title featured">
          <h3>CHEST</h3>
        </div>
        <div class="chest-exercises featured col-md">
          <ul>      
            {{#each exercises}}
            {{#if chest}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}  
          </ul>
        </div>
      </div>
      
      <div class="shoulders-section row">
        <div class="shoulder-exercises featured col-md">
          <ul>
            {{#each exercises}}
            {{#if shoulders}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}} 
          </ul>
        </div>
        <div class="shoulders title featured">
          <h3>SHOULDERS</h3>
        </div>              
      </div>

        <div class="ab-section row">
         <div class="abs title featured">
           <h3>ABS</h3>
         </div>
         <div class="ab-exercises featured col-md">
           <ul>
            {{#each exercises}}
            {{#if abs}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}
           </ul>
         </div>
        </div>

        <div class="quads-section row">
         <div class="quad-exercises featured col-md">
           <ul>
            {{#each exercises}}
            {{#if quads}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}
           </ul>
         </div>
         <div class="quads title featured">
           <h3>QUADS</h3>
         </div>
        </div>

        <div class="quad-section row">
          <div class="glutes title featured">
            <h3>GLUTES</h3>
          </div>
          <div class="glute-exercises featured col-md">
            <ul>
            {{#each exercises}}
            {{#if glutes}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}
            </ul>
          </div>
        </div>
             
        <div class="hamstring-section row">
          <div class="hamstring-exercises featured col-md">
            <ul>
            {{#each exercises}}
            {{#if hamstrings}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}
            </ul>
          </div>
          <div class="hamstrings title featured">
            <h3>HAMSTRINGS</h3>
          </div>
        </div>
         
        <div class="back-section row">
          <div class="back title featured"> 
            <h3>BACK</h3>
          </div>
          <div class="back-exercises featured col-md">
            <ul>
            {{#each exercises}}
            {{#if back}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}
            </ul>
          </div>
        </div>
             
        <div class="biceps-section row">
          <div class="biceps-exercises featured col-md">
            <ul>
            {{#each exercises}}
            {{#if biceps}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}
            </ul>
          </div>
          <div class="biceps title featured">
            <h3>BICEPS</h3>
          </div>
        </div>
        
        <div class="triceps-section row">
          <div class="triceps title featured">
            <h3>TRICEPS</h3>
          </div>
          <div class="triceps-exercises featured col-md">
            <ul>
            {{#each exercises}}
            {{#if triceps}}
            <li>{{exercise}}</li>
            {{/if}}      
            {{/each}}
            </ul>
          </div>
        </div>

    </section>

    <div class="buttons">
        <button type="button" class="btn btn-dark home-btn">Home</button>
        <button type="button" class="btn btn-dark schedule-btn">Schedule</button>
      </div>
</div>
{{!-- {{else}}
<a href="/login">You must login first to view the exercise library</a>
{{#/if}} --}}

